body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

body {
    background-color: #1f2041;
}
.snake {
    background-color: #577590;
}

/* Board */
#game-board {
    border-radius: 100px;
    display: grid;
    margin: 5px;
}
.game-border {
    border: #f08a4b solid 30px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #f08a4b;
}

/* Scores */
.scores {
    display: flex;
    justify-content: space-between;
}

#score {
    color: #d78a76;
}

#score,
#highScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}
/* Highscore init non-visual */
#highScore {
    color: #d8ddca;
    display: none;
}

.game-border,
#logo {
    background-color: #d78a76;
}

.snake {
    border: #577590 1px dotted;
}

.food {
    background-color: #dfc5ff;
    border: #7802ff 5px solid;
}

.head {
    background-color: red;
}
.rest-snake {
    background-color: #333;
}

.initial-page-container {
    background-color: #d78a76;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 10px;
    border: 5px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 250px;
}

.scores,
.game-border,
.game-board {
    display: none;
}
.instruction-text {
    color: #333;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding: 15px;
}
.select-size {
    margin-top: 10px;
}
label {
    font-size: 24px;
    color: #333;
}
#board-size {
    height: 24px;
}
