body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

body {
    background-color: #1f2041;
}
.snake {
    background-color: #577590;
}

/* Board */
#game-board {
    border-radius: 100px;
    display: grid;
    margin: 5px;
}
.game-border {
    border: #f08a4b solid 30px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #f08a4b;
}

/* Scores */
.scores {
    display: flex;
    justify-content: space-between;
}

#score {
    color: #d78a76;
}

#score,
#highScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}
/* Highscore init non-visual */
#highScore {
    color: #d8ddca;
    display: none;
}

.game-border,
#logo {
    background-color: #d78a76;
}

.snake {
    border: #577590 1px dotted;
}

.food {
    background-color: #dfc5ff;
    border: #7802ff 5px solid;
}

.head {
    background-color: red;
}
.rest-snake {
    background-color: #333;
}

.initial-page-container {
    background-color: #d78a76;
    height: 65vh;
    width: 50vw;
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 10px;
    border: 5px solid rgb(255, 162, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 250px;
}

.scores,
.game-border,
.game-board {
    display: none;
}
.instruction-text {
    color: #333;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding: 15px;
}
.select-size {
    margin-top: 10px;
}
label {
    font-size: 28px;
    color: #333;
}
#board-size {
    height: 28px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(107, 107, 107, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    background-color: #d78a76;
    height: 10vh;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #1f2041;
    border-bottom: 4px solid #1f2041;
}
.modal-content h1 {
    animation: fadeInOut 2s ease-in-out infinite;
}

.key {
    background-color: #333;
    padding: 8px;
    border-radius: 5px;
    color: rgb(255, 162, 0);
    border: 2px solid rgb(255, 162, 0);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
